

<app-card [title]="'audit'">

  <h5>Ejemplo 1: </h5>
  <button (click)="emitValues()">Emit Values</button>

  @if (showValue) {
    <p>Last value emitted: {{ lastValue }}</p>
    <p>{{ message }}</p>
  }
  <hr>
  <h5>Ejemplo2: Valores emitidos:</h5>
  <ul>

    @for (eachItem of valores;track eachItem) {

      @if (valores.length < 4) {
        <li>{{ eachItem }}</li>
      }
      @if (valores.length === 4) {
        <span>Fin incremento</span>
      }
    }
  </ul>

  <hr>

</app-card>

<!-- Modal -->

<app-modal  [title]="'audit'">
    <div [innerHTML]="dataservice.innerHTML"></div>
  </app-modal>
