
<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Audit</h5>
    <button type="button" class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"

    >
      Explicación
    </button>

    <h5>Ejemplo 1: </h5>
    <button (click)="emitValues()">Emit Values</button>

    @if (showValue) {
      <p>Last value emitted: {{ lastValue }}</p>
      <p>{{ message }}</p>
    }
    <hr>
    <h5>Ejemplo2: Valores emitidos:</h5>
    <ul>

      @for (eachItem of valores;track eachItem) {

        @if (valores.length < 4) {
          <li>{{ eachItem }}</li>
        }
        @if (valores.length === 4) {
          <span>Fin incremento</span>
        }
      }
    </ul>

    <hr>

  </div>
</div>
<!-- Modal -->

  <app-modal>
    <div [innerHTML]="dataservice.innerHTML"></div>
  </app-modal>
