<div class="card w-100" >
  <div class="card-body">
    <h5 class="card-title">AnimationFrames</h5>
    <button type="button" class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"

    >
      Explicación
    </button>

    <!-- animation.component.html -->
    <div [ngStyle]="{'transform': 'translateX(' + elementPosition + 'px)'}" class="animated-element">Elemento Animado</div>

    <!-- color-animation.component.html -->
    <div class="color-element" [style.background-color]="backgroundColor">Color Animado</div>

    <div class="zigzag-container">
      <div [style.left.px]="posX" [style.top.px]="posY" class="zigzag-ball"></div>
    </div>


  </div>
</div>

<!-- Modal -->

<app-modal>
  <div [innerHTML]="dataservice.innerHTML"></div>
</app-modal>
