<!--<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">-->
<!--  Link with href-->
<!--</a>-->

<div class="offcanvas offcanvas-start bg-sidebar" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div class="d-flex flex-column">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Banco de pruebas</h5>
      <a [routerLink]="['home']" class="mt-1">
        Home
      </a>
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    @for (eachSidebarMenuRxjs of sidebarMenuRxjs;track eachSidebarMenuRxjs) {
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-toggle]="'collapse'"
                    [attr.aria-expanded]="eachSidebarMenuRxjs.expanded"
                    [attr.data-bs-target]="dinamicHashId(eachSidebarMenuRxjs.id)"
                    [attr.aria-controls]="dinamicid(eachSidebarMenuRxjs.id)"
            >
              {{ eachSidebarMenuRxjs.title }}
            </button>
          </h2>
          <div [id]="dinamicid(eachSidebarMenuRxjs.id)" class="accordion-collapse collapse show"
               data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                @for (eachItem of eachSidebarMenuRxjs.subMenu;track eachItem) {
                  <li>
                    <a routerLink="{{eachItem.routerLink}}" class="nav-link">
                      <p>
                        <i class="nav-icon" [ngClass]="eachItem.icon"></i>{{ eachItem.subTitle }}
                      </p>
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    }
  </div>


</div>
